/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-10: #0e0e0e;
	--black-color-20: #090909;
	--black-color-30: #181a1c;
	--black-color-40: #393939;

	--white-color-10: #f2f2f2;

	/* Font Family */
	--main-ff: 'Ubuntu', sans-serif;
	--title-ff: 'Archivo Black', sans-serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.825rem;
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.525rem;
	--xxl-fs: 2.425rem;
	--xxxl-fs: 3.595rem;
	--xxxxl-fs: 4.395rem;

	/* Border Radius */
	--btn-radius: 0.35rem;
	--input-radius: 0.35rem;
	--feat-radius: 2.85rem;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 4.25rem;

	/* Width */
	--container-mw: 1140px;

	/* Height */
	--navbar-h: 98px;

	/* Shadow */
	--img-ds: drop-shadow(1px 1px 25px rgba(255, 255, 255, 0.05));

	/* Gradient */
	--alt-lg: linear-gradient(
		to top,
		var(--black-color-10),
		var(--black-color-40) 50%
	);
	--hover-lg: linear-gradient(
		to top,
		var(--black-color-10),
		var(--white-color-10) 45%
	);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-color: var(--black-color-10);
	color: var(--white-color-10);
	position: relative;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--title-ff);
}

a {
	text-decoration: none;
	transition: 0.35s ease-in-out;
}

ul {
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

input {
	border-radius: var(--input-radius);
}

button {
	transition: 0.45s ease-in-out;
	border-radius: var(--btn-radius);
	cursor: pointer;
	width: 150%;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.section-title {
	font-size: var(--xxl-fs);
	font-weight: var(--normal-fw);
	text-align: center;
	margin-bottom: 2.85rem;
	text-transform: capitalize;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	background-color: var(--white-color-10);
	width: fit-content;
	height: fit-content;
	padding: 0.35rem;
	border-radius: var(--btn-radius);
	transform: rotate(-45deg);
}

.logo-img {
	width: 28px;
	transform: rotate(45deg);
	transition: 0.35s ease-in-out;
}

.logo:hover {
	transform: scale(1.08) rotate(0);
}

.logo:hover .logo-img {
	transform: rotate(0);
}

.text-gradient {
	background-image: var(--alt-lg);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grid {
	display: grid;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	gap: 2.75rem;
}

.grid-3 {
	grid-template-columns: repeat(3, 1fr);
	gap: 1.25rem;
}

.btn,
.btn i {
	color: var(--white-color-10);
	font-size: var(--base-fs);
	font-weight: var(--light-fw);
}

.btn {
	padding: 0.85rem;
	width: fit-content;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.55rem;
	text-align: center;
	background-color: var(--black-color-30);
}

.btn:hover {
	background-color: var(--black-color-20);
}

/***************** NAVBAR *******************/
#navbar {
	height: var(--navbar-h);
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
}

.navbar-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.navbar-link {
	font-weight: var(--bold-fw);

	font-size: var(--lg-fs);
}

.navbar-link:hover,
.navbar-link.active {
	background-image: var(--hover-lg);
}
/************** End of NAVBAR ***************/

/***************** HOME *******************/
.home-content {
	align-items: center;
}

.home-img {
	position: relative;
	height: 100%;
}

.home-img img {
	position: absolute;
	top: -48%;
	left: -5%;
	height: 180%;
	filter: var(--img-ds);
	object-fit: cover;
}

.home-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
}

.home-title,
.home-subtitle {
	text-transform: capitalize;
}

.home-title {
	font-size: var(--xxxl-fs);
	z-index: 20;
}

.home-subtitle {
	font-size: var(--xxxxl-fs);
	position: absolute;
	left: 20%;
	top: -12%;
	z-index: 10;
}

.home-overview {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.home-overview-title {
	font-size: var(--xl-fs);
	text-transform: uppercase;
}

.home-overview-description {
	font-weight: var(--light-fw);
	font-size: var(--base-fs);
	line-height: 1.8;
}
/************** End of HOME ***************/

/***************** FEATURES *******************/
.features-content {
	align-items: center;
}

.feature-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.feature-item {
	background-color: var(--black-color-30);
	padding: 0.65rem 1.25rem;
	border-radius: var(--feat-radius);
	width: 80%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(2, 1fr);
	column-gap: 0.85rem;
	align-items: center;
	row-gap: -3.25rem;
}

.feature-item:nth-child(even) {
	margin-left: 3.75rem;
	filter: var(--img-ds);
}

.feature-item i {
	grid-row: 1/3;
	font-size: var(--xxl-fs);
	background-color: var(--black-color-20);
	border-radius: 50%;
	height: 64px;
	filter: var(--img-ds);
	width: 64px;
}

.feature-name {
	font-size: var(--lg-fs);
}

.features-img {
	opacity: 0.55;
	filter: var(--img-ds);
}
/************** End of FEATURES ***************/

/***************** CASE *******************/
/* TODO: Create CASE style */
/************** End of CASE ***************/

/***************** PROMOTION *******************/
/* TODO: Create PROMOTION style */
/************** End of PROMOTION ***************/

/***************** PRODUCTS *******************/
/* TODO: Create PRODUCTS style */
/************** End of PRODUCTS ***************/

/***************** FOOTER *******************/
/* TODO: Create FOOTER style */
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
/* TODO: Create CREDIT AREA style */
/************** End of CREDIT AREA ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1024px) {
}
