/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-10: #0e0e0e;
	--black-color-20: #090909;
	--black-color-30: #181a1c;
	--black-color-40: #393939;

	--white-color-10: #f2f2f2;

	/* Font Family */
	--main-ff: 'Ubuntu', sans-serif;
	--title-ff: 'Archivo Black', sans-serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.825rem;
	--base-fs: 1rem;
	--xl-fs: 1.525rem;
	--xxl-fs: 2.425rem;

	/* Border Radius */
	--btn-radius: 0.35rem;
	--input-radius: 0.35rem;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 3.5rem;

	/* Width */
	--container-mw: 1024px;

	/* Gradient */
	--alt-lg: linear-gradient(
		to top,
		var(--black-color-10),
		var(--black-color-40)
	);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-color: var(--black-color-10);
	color: var(--white-color-10);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
}

a {
	text-decoration: none;
	transition: 0.35s ease-in-out;
}

ul {
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

button {
	transition: 0.45s ease-in-out;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.section-title {
	background-image: var(--alt-lg);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/***************** HOME *******************/
/* TODO: Create HOME style */
/************** End of HOME ***************/

/***************** FEATURES *******************/
/* TODO: Create FEATURES style */
/************** End of FEATURES ***************/

/***************** CASE *******************/
/* TODO: Create CASE style */
/************** End of CASE ***************/

/***************** PROMOTION *******************/
/* TODO: Create PROMOTION style */
/************** End of PROMOTION ***************/

/***************** PRODUCTS *******************/
/* TODO: Create PRODUCTS style */
/************** End of PRODUCTS ***************/

/***************** FOOTER *******************/
/* TODO: Create FOOTER style */
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
/* TODO: Create CREDIT AREA style */
/************** End of CREDIT AREA ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1024px) {
}
