/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-10: #0e0e0e;
	--black-color-20: #090909;
	--black-color-30: #181a1c;
	--black-color-40: #393939;

	--white-color-10: #f2f2f2;

	/* Font Family */
	--main-ff: 'Ubuntu', sans-serif;
	--title-ff: 'Archivo Black', sans-serif;

	/* Font Weight */
	--light-fw: 300;
	--normal-fw: 400;
	--medium-fw: 500;
	--bold-fw: 700;

	/* Font Size */
	--sm-fs: 0.825rem;
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.525rem;
	--xxl-fs: 2.425rem;
	--xxxl-fs: 3.595rem;
	--xxxxl-fs: 4.395rem;

	/* Border Radius */
	--btn-radius: 0.35rem;
	--input-radius: 0.35rem;
	--feat-radius: 2.85rem;
	--brand-radius: 2.85rem;
	--promo-radius: 2.85rem;
	--product-radius: 0.35rem;

	/* Padding */
	--container-pi: 0.85rem;
	--section-pb: 4.25rem;

	/* Width */
	--container-mw: 1140px;

	/* Height */
	--navbar-h: 98px;

	/* Shadow */
	--white-ds: drop-shadow(1px 1px 25px rgba(255, 255, 255, 0.05));

	/* Gradient */
	--alt-lg: linear-gradient(
		to top,
		var(--black-color-10),
		var(--black-color-40) 50%
	);
	--hover-lg: linear-gradient(
		to top,
		var(--black-color-10),
		var(--white-color-10) 45%
	);
}

/***************** General *******************/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--main-ff);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
	background-color: var(--black-color-10);
	color: var(--white-color-10);
	position: relative;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--title-ff);
}

a {
	text-decoration: none;
	transition: 0.35s ease-in-out;
}

ul {
	list-style: none;
}

button,
input {
	border: none;
	outline: none;
	background-color: transparent;
}

input {
	border-radius: var(--input-radius);
}

button {
	transition: 0.45s ease-in-out;
	border-radius: var(--btn-radius);
	cursor: pointer;
	width: 150%;
}

:is(a, button) i {
	pointer-events: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

::-webkit-scrollbar {
	width: 0.6rem;
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--black-color-20);
	border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--black-color-30);
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

.section {
	padding-block: var(--section-pb);
}

.section-title {
	font-size: var(--xxl-fs);
	font-weight: var(--normal-fw);
	text-align: center;
	margin-bottom: 4.85rem;
	text-transform: capitalize;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	background-color: var(--white-color-10);
	width: fit-content;
	height: fit-content;
	padding: 0.35rem;
	border-radius: var(--btn-radius);
	transform: rotate(-45deg);
}

.logo-img {
	width: 28px;
	transform: rotate(45deg);
	transition: 0.35s ease-in-out;
}

.logo:hover {
	transform: scale(1.08) rotate(0);
}

.logo:hover .logo-img {
	transform: rotate(0);
}

.text-gradient {
	background-image: var(--alt-lg);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.grid {
	display: grid;
}

.grid-2 {
	grid-template-columns: repeat(2, 1fr);
	gap: 2.75rem;
	align-items: center;
}

.grid-4 {
	grid-template-columns: repeat(4, 1fr);
}

.btn,
.btn i {
	color: var(--white-color-10);
	font-size: var(--base-fs);
	font-weight: var(--light-fw);
}

.btn {
	padding: 0.85rem;
	width: fit-content;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.55rem;
	text-align: center;
	background-color: var(--black-color-30);
	font-weight: var(--normal-fw);
}

.btn:hover {
	background-color: var(--black-color-20);
	filter: var(--white-ds);
}

/***************** NAVBAR *******************/
#navbar {
	height: var(--navbar-h);
	background-color: transparent;
	position: relative;
	z-index: 100;
	transition: 0.55s ease-in-out;
}

.navbar-content {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#toggle-menu {
	color: var(--white-color-10);
	font-size: var(--xxxl-fs);
	display: none;
}

.navbar-menu {
	display: flex;
	align-items: center;
	gap: 1.95rem;
}

.navbar-link {
	font-weight: var(--bold-fw);
	font-size: var(--lg-fs);
}

.navbar-link:hover,
.navbar-link.active {
	background-image: var(--hover-lg);
}
/************** End of NAVBAR ***************/

/***************** HOME *******************/
#home {
	min-height: calc(100vh - var(--navbar-h));
	display: flex;
	align-items: center;
}

.home-img {
	position: relative;
	height: 100%;
}

.home-img img {
	position: absolute;
	top: -48%;
	left: -5%;
	height: 180%;
	filter: var(--white-ds);
	object-fit: cover;
	opacity: 0.45;
}

.home-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	position: relative;
}

.home-title,
.home-subtitle {
	text-transform: capitalize;
}

.home-title {
	font-size: var(--xxxl-fs);
	z-index: 20;
}

.home-subtitle {
	font-size: var(--xxxxl-fs);
	position: absolute;
	left: 20%;
	top: -12%;
	z-index: 10;
	opacity: 0.75;
}

.home-overview {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.home-overview-title {
	font-size: var(--xl-fs);
	text-transform: uppercase;
}

.home-overview-description {
	font-weight: var(--light-fw);
	font-size: var(--lg-fs);
	line-height: 1.8;
}
/************** End of HOME ***************/

/***************** BRANDS *******************/
.brands-content {
	background-color: var(--black-color-30);
	border-radius: var(--brand-radius);
	padding: 2.75rem;
}

.brand-list {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 2%;
}

.brand-item {
	background-color: var(--black-color-20);
	padding: 0.85rem;
	border-radius: var(--brand-radius);
	display: flex;
	gap: 0.85rem;
	justify-content: center;
	align-items: center;
	flex: 20%;
	cursor: pointer;
}

.brand-item i {
	font-size: var(--xl-fs);
}

.brand-item span {
	font-size: var(--lg-fs);
	font-weight: var(--medium-fw);
}
/************** End of BRANDS ***************/

/***************** FEATURES *******************/
.feature-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.feature-item {
	background-color: var(--black-color-30);
	padding: 0.65rem 1.25rem;
	border-radius: var(--feat-radius);
	width: 80%;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: repeat(2, 1fr);
	column-gap: 0.85rem;
	align-items: center;
	row-gap: -3.25rem;
}

.feature-item:nth-child(even) {
	margin-left: 3.75rem;
	filter: var(--white-ds);
}

.feature-item i {
	grid-row: 1/3;
	font-size: var(--xxl-fs);
	background-color: var(--black-color-40);
	border-radius: 50%;
	height: 64px;
	filter: var(--white-ds);
	width: 64px;
}

.feature-item:nth-child(2) i {
	padding-left: 0.26rem;
}

.feature-name {
	font-size: var(--lg-fs);
}

.features-img {
	opacity: 0.55;
	filter: var(--white-ds);
}
/************** End of FEATURES ***************/

/***************** CASE *******************/
.case-img {
	filter: var(--white-ds);
}

.case-img img {
	filter: grayscale(0.25);
}

.case-text {
	display: flex;
	flex-direction: column;
	gap: 1.65rem;
}

.case-description {
	font-size: var(--lg-fs);
	line-height: 1.7;
	font-weight: var(--light-fw);
	color: var(--white-color-10);
}
/************** End of CASE ***************/

/***************** PROMOTION *******************/
.promotion-content {
	background-color: var(--black-color-20);
	padding: 1.25rem 2.85rem;
	border-radius: var(--promo-radius);
	filter: var(--white-ds);
}

.promotion-text {
	display: flex;
	flex-direction: column;
	gap: 1.25rem;
}

.promotion-title {
	font-size: var(--xxl-fs);
	text-transform: capitalize;
}

.promotion-subtitle {
	font-size: var(--xl-fs);
	text-transform: uppercase;
}

.promotion-img {
	height: 350px;
	justify-self: center;
}

.promotion-img img {
	height: 100%;
	filter: grayscale(0.55);
	opacity: 0.55;
	filter: var(--white-ds);
}
/************** End of PROMOTION ***************/

/***************** PRODUCTS *******************/
.product-list {
	grid-template-rows: repeat(2, 250px);
	column-gap: 1.85rem;
	row-gap: 2.25rem;
}

.product-item {
	background-color: var(--black-color-10);
	height: 100%;
	border-radius: var(--product-radius);
	display: flex;
	flex-direction: column;
	filter: var(--white-ds);
	gap: 10%;
}

.product-item:hover {
	transform: scale(1.05);
}

.product-item:hover .product-img img {
	height: 145%;
	filter: grayscale(0);
	opacity: 1;
}

.product-item:hover .product-info .product-price {
	color: var(--white-color-10);
}

.product-item,
.product-img img,
.product-price {
	transition: 0.36s ease-in-out;
}

.product-img {
	position: relative;
	flex: 70%;
}

.product-img img {
	position: absolute;
	height: 130%;
	margin-top: -1.5rem;
	left: 50%;
	transform: translateX(-50%);
	filter: grayscale(0.65) var(--white-ds);
	opacity: 0.55;
}

.product-info {
	flex: 20%;
	display: grid;
	grid-template-columns: 80% 20%;
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	padding: 0.85rem;
	row-gap: 0.55rem;
}

.product-name {
	font-size: var(--base-fs);
	text-transform: uppercase;
	margin-bottom: -0.85rem;
}

.product-price {
	font-size: var(--lg-fs);
	color: var(--black-color-40);
	font-weight: var(--light-fw);
}

.product-info .btn {
	grid-row: 1/3;
	grid-column: 2/3;
}
/************** End of PRODUCTS ***************/

/***************** FOOTER *******************/
#footer {
	background-color: var(--black-color-30);
	margin-top: 5rem;
}

.footer-columns {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 1.55rem;
}

.footer-column {
	display: flex;
	flex-direction: column;
	gap: 1.45rem;
}

.footer-title {
	font-size: var(--lg-fs);
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 0.85rem;
}

.footer-link {
	color: var(--white-color-10);
	opacity: 0.65;
	font-size: var(--base-fs);
}

.footer-link:hover {
	opacity: 1;
}

.footer-form {
	display: flex;
	gap: 0.85rem;
}

.footer-form input {
	border: 1px solid var(--white-color-10);
	padding-inline: 0.85rem;
	color: var(--white-color-10);
	font-size: var(--base-fs);
}

.footer-form .btn {
	background-color: var(--black-color-10);
	border: 1px solid var(--black-color-10);
}

.footer-form .btn:hover {
	background-color: var(--black-color-20);
	border-color: var(--black-color-20);
}

.footer-media {
	display: flex;
	gap: 1rem;
}

.social-link i {
	color: var(--white-color-10);
	background-color: var(--black-color-10);
	height: 40px;
	width: 40px;
	font-size: var(--lg-fs);
	border-radius: var(--btn-radius);
	transition: 0.35s ease-in-out;
}

.social-link:hover i {
	transform: scale(1.05);
}
/************** End of FOOTER ***************/

/***************** CREDIT AREA *******************/
#credit-area {
	background-color: var(--white-color-10);
	color: var(--black-color-10);
	padding-block: 0.45rem;
}

.credit {
	font-weight: var(--light-fw);
	font-size: var(--sm-fs);
}

.credit span,
.credit a {
	font-weight: var(--medium-fw);
	color: var(--black-color-20);
}
/************** End of CREDIT AREA ***************/

/***************** Responsiveness *******************/
@media screen and (max-width: 1280px) {
	/***************** Variables *******************/
	:root {
		font-size: 14.5px;
	}

	/***************** HOME *******************/
	.home-img img {
		position: relative;
		height: 100%;
		inset: 0;
	}
	/************** End of HOME ***************/
}

@media screen and (max-width: 990px) {
	/***************** BRAND *******************/
	.brand-list {
		flex-wrap: wrap;
		gap: 1rem;
		justify-content: center;
	}

	.brand-item {
		min-width: 250px;
		max-width: 20%;
	}
	/************** End of BRAND ***************/

	/***************** FEATURES *******************/
	.features-content {
		column-gap: 0.25rem;
	}

	.feature-item {
		column-gap: 2rem;
	}

	.feature-item i {
		grid-column: 1/2;
	}
	/************** End of FEATURES ***************/
}

@media screen and (max-width: 890px) {
	/***************** Reusable *******************/
	.grid-4 {
		grid-template-rows: unset;
		grid-template-columns: repeat(3, 1fr);
	}

	/***************** PRODUCTS *******************/
	.product-list {
		margin-bottom: 3rem;
	}

	.product-item {
		min-height: 250px;
	}
	/************** End of PRODUCTS ***************/
}

@media screen and (max-width: 860px) {
	/***************** Variables *******************/
	:root {
		font-size: 15px;

		/* Font Size */
		--sm-fs: 0.75rem;
		--base-fs: 1rem;
		--lg-fs: 1.25rem;
		--xl-fs: 1.5rem;
		--xxl-fs: 2rem;
		--xxxl-fs: 2.5rem;
		--xxxxl-fs: 3rem;
	}

	/***************** General *******************/
	*.show {
		display: flex !important;
	}

	*.hidden {
		display: none !important;
	}

	/***************** Resusable *******************/
	.logo {
		margin-left: var(--container-pi);
	}

	/***************** NAVBAR *******************/
	#navbar {
		height: auto;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		border-radius: 2.15rem;
	}

	#navbar.active {
		background-color: rgba(0, 0, 0, 0.85);
	}

	.navbar-content {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.navbar-content {
		padding-block: 1.5rem;
	}

	#toggle-menu {
		display: flex;
		flex: 0;
	}

	.navbar-menu {
		flex-direction: column;
		flex: 100%;
		margin-block: 1.5rem;
		display: none;
	}
	/************** End of NAVBAR ***************/

	/***************** HOME *******************/
	#home {
		height: 100vh;
	}
	/************** End of HOME ***************/

	/***************** FOOTER *******************/
	.footer-columns {
		grid-template-columns: repeat(3, 1fr);
		row-gap: 2.5rem;
	}

	.footer-column:nth-child(4) {
		grid-column: 1/4;
	}
	.footer-form {
		width: 100%;
		flex-direction: column;
	}

	.footer-form input {
		padding-block: 0.85rem;
		width: 100%;
	}

	.footer-media {
		justify-content: center;
	}
	/************** End of FOOTER ***************/
}

@media screen and (max-width: 790px) {
	/***************** Reusable *******************/
	.grid-4 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 750px) {
	/***************** Reusable *******************/
	.btn {
		width: 100%;
	}

	.grid-2 {
		grid-template-columns: 100%;
		text-align: center;
	}

	/***************** HOME *******************/
	.home-content {
		grid-template-columns: 100%;
		text-align: center;
		min-height: 100vh;
	}
	/************** End of HOME ***************/

	/***************** BRANDS *******************/
	.brands-content {
		margin-top: 8rem;
	}

	.brand-item {
		max-width: 100%;
		min-width: 100%;
	}
	/************** End of BRANDS ***************/

	/***************** FEATURES *******************/
	.feature-list {
		position: absolute;
		z-index: 20;
	}

	.feature-item {
		text-align: left;
		width: fit-content;
	}

	.features-img {
		opacity: 0.25;
	}
	/************** End of FEATURES ***************/

	/***************** PROMOTION *******************/
	.promotion-content {
		padding-block: 3rem;
	}
	/************** End of PROMOTION ***************/
}

@media screen and (max-width: 576px) {
	/***************** Reusable *******************/
	.grid-4 {
		grid-template-columns: 100%;
	}

	/***************** FOOTER *******************/
	.footer-columns {
		grid-template-columns: 100%;
	}

	.footer-column:nth-child(4) {
		grid-column: unset;
	}
	/************** End of FOOTER ***************/
}
